<section class="header">
  <nav>
      <a href="" routerLink="/home"><img src="../../assets/Image/hotel2.webp" height="150px" width="150px" style="border-radius: 50%;" alt="no-image"></a>
      <div class="nav-links" id="navLinks">
          <ul>
              <li><a href="" routerLink="/home">HOME</a></li>
              <li><a href="" routerLink="/about">ABOUT US</a></li>
              <li><a href="" routerLink="/gallery">GALLERY</a></li>
              <li><a href="" routerLink="/contact">CONTACT</a></li>
              <a class="hero-btn" routerLink='/login'>LOGIN</a>
          </ul>
      </div>
  </nav>

  <section>
    <h1 style="text-align: center;font-size: 60px;margin: 25px; font-family: 'New Rocker', cursive;">GALLERY</h1>
    <div class="row2">
        <div class="images">
            <img src="../../../assets/Image/hotel/alevision-co-lw3Lqe2K7xc-unsplash.jpg" alt="">
        </div>
        <div class="images">
            <img src="../../../assets/Image/hotel/atman-studios-UPolqOrkbno-unsplash.jpg" alt="">
        </div>
        <div class="images">
            <img src="../../../assets/Image/hotel/bundo-kim-67Z3KOCt39w-unsplash.jpg" alt="">
        </div>
    </div>
    <div class="row2">
        <div class="images">
            <img src="../../../assets/Image/hotel/conner-baker-wv4Pu-Jjdbw-unsplash.jpg" alt="">
        </div>
        <div class="images">
            <img src="../../../assets/Image/hotel/istockphoto-1292414282-170667a (1).jpg" alt="">
        </div>
        <div class="images">
            <img src="../../../assets/Image/hotel/jeffrey-francisco-_Ei9f33bQ1A-unsplash.jpg" alt="">
        </div>
    </div>
    <div class="row2">
        <div class="images">
            <img src="../../../assets/Image/hotel/jordan-arnold-Ul07QK2AR-0-unsplash.jpg" alt="">
        </div>
        <div class="images">
            <img src="../../../assets/Image/hotel/rezha-ramadhan-sV8M_Lkg60Y-unsplash.jpg" alt="">
        </div>
        <div class="images">
            <img src="../../../assets/Image/hotel/sidekix-media-g8tb9SXqZVQ-unsplash.jpg" alt="">
        </div>
    </div>
    <div class="row2">
      <div class="images">
          <img src="../../../assets/Image/hotel/thomas-william-OAVqa8hQvWI-unsplash.jpg" alt="">
      </div>
      <div class="images">
          <img src="../../../assets/Image/hotel/valeriia-bugaiova-_pPHgeHz1uk-unsplash.jpg" alt="">
      </div>
      <div class="images">
          <img src="../../../assets/Image/hotel/venice-hotel-Z7zjxO9GqjE-unsplash.jpg" alt="">
      </div>
  </div>
  <div class="row2">
    <div class="images">
        <img src="../../../assets/Image/hotel/vicko-mozara-m82uh_vamhg-unsplash.jpg" alt="">
    </div>
    <div class="images">
        <img src="../../../assets/Image/hotel/visualsofdana-T5pL6ciEn-I-unsplash.jpg" alt="">
    </div>
    <div class="images">
        <img src="../../../assets/Image/hotel/book.jpg" alt="">
    </div>
</div>
</section>


</section>




<div class="footer-basic">
  <footer>
      <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#" routerLink="/home">Home</a></li>
          <li class="list-inline-item" ><a href="#" routerLink="/about">About Us</a></li>
          <li class="list-inline-item"><a href="#" routerLink="/gallery">Gallery</a></li>
          <li class="list-inline-item"><a href="#" routerLink="/contact">Contact Us</a></li>
      </ul>
      <p class="copyright">HOTEL © 2021</p>
  </footer>
</div>
