<section class="header">
  <nav>
    <a href="" routerLink="/home"><img src="../../assets/Image/hotel2.webp" height="150px" width="150px"
        style="border-radius: 50%;" alt="no-image"></a>
    <div class="nav-links" id="navLinks">
      <ul>
        <li><a href="" routerLink="/home">HOME</a></li>
        <li><a href="" routerLink="/about">ABOUT US</a></li>
        <li><a href="" routerLink="/gallery">GALLERY</a></li>
        <li><a href="" routerLink="/contact">CONTACT</a></li>
        <a class="hero-btn" routerLink='/login'>LOGIN</a>
      </ul>
    </div>
  </nav>

  <h1 style="text-align: center;font-size: 60px;margin: 25px; font-family: 'New Rocker', cursive;font:gray;">ABOUT US</h1>
  <!-- About Section -->
  <div id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-6 about-img"> </div>
        <div class="col-xs-12 col-md-3 col-md-offset-1">
          <div class="about-text">
            <div class="section-title">
              <h2 style="text-align: center;">About Us</h2>
            </div>
              <p style="text-align: center;">
                The heritage home offers spaciously appointed and elegantly furnished rooms outfitted with modern amenities to suit the needs of today's traveler. We have nurtured our property with a blend of all those ingredients that we believe are essential to providing a comfortable nest for guests looking to stay at Heritage family run home hotels.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section class="testimonials">
    <h1>What Our Customers Says</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    <div class="row">
      <div class="testimonials-col">
        <img src="../../../assets/Image/men.jpg" alt="">
        <div>
          <h3>Morgan</h3>
          <p>Great, very clean and beautiful building! Bed was large and soft, and the bathroom was decorated impressively. Helpful staff and good value for the price.
            <br>Would definitely stay again, highly recommend.</p>
        </div>
      </div>
      <div class="testimonials-col">
        <img src="../../../assets/Image/women.jpg" alt="">
        <div>
          <h3>Monica</h3>
          <p>The room was quite royal, we enjoyed our stay a lot, the size and decor fits very well. Location is right as well, just turning into next little arch around the corner.
            <br>Would definitely stay again, highly recommend.
          </p>
        </div>
      </div>
    </div>
  </section>



</section>




<div class="footer-basic">
  <footer>
    <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
          class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
          class="icon ion-social-facebook"></i></a></div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#" routerLink="/home">Home</a></li>
      <li class="list-inline-item"><a href="#" routerLink="/about">About Us</a></li>
      <li class="list-inline-item"><a href="#" routerLink="/gallery">Gallery</a></li>
      <li class="list-inline-item"><a href="#" routerLink="/contact">Contact Us</a></li>
    </ul>
    <p class="copyright">HOTEL © 2021</p>
  </footer>
</div>
